// Variables
$back-blue:#131724;
$secondback-blue: #252835;
$header-color: #587aad;
$white: #ffffff;
$blue-banner: #23024e;
$gray-shadow:#9e8d8d;
$orange: #ff4500;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;